<h1 mat-dialog-title>Create</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="form-element">
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error *ngIf="!formGroup.controls['amount'].valid">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Amount" formControlName="amount" />
      <mat-error *ngIf="!formGroup.controls['amount'].valid">
        This input requires a value or should be a number
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        [mat-dialog-close]
      >
        Submit Form
      </button>
      <button mat-raised-button type="reset" class="button" (click)="onReset()">
        Reset Form
      </button>
    </div>
  </form>
</div>
